[Desktop Entry]
Name=Digital Certificate for VBA Projects
Exec=env WINEPREFIX="/home/mourad/.office2010" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/mourad/.office2010/dosdevices/c:/users/mourad/AppData/Roaming/Microsoft/Windows/Start\\ Menu/Programs/Microsoft\\ Office/Microsoft\\ Office\\ 2010\\ Tools/Digital\\ Certificate\\ for\\ VBA\\ Projects.lnk
Type=Application
StartupNotify=true
Comment=This program creates a self-signed digital certificate that can be used for personal macros on this machine only.
Icon=E723_misc.15
StartupWMClass=selfcert.exe
