[Desktop Entry]
Name=Microsoft OneNote 2010
Exec=env WINEPREFIX="/home/mourad/.office2010" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/mourad/.office2010/dosdevices/c:/users/mourad/AppData/Roaming/Microsoft/Windows/Start\\ Menu/Programs/Microsoft\\ Office/Microsoft\\ OneNote\\ 2010.lnk
Type=Application
StartupNotify=true
Comment=Gather, organize, find, and share your notes and information using Microsoft OneNote.
Icon=A3D7_joticon.0
StartupWMClass=onenote.exe
