#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=com.whatsapp
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fkgkhjbnoppionnjgjdncpflppnepgcf
Icon=chrome-fkgkhjbnoppionnjgjdncpflppnepgcf-Default
StartupWMClass=crx_fkgkhjbnoppionnjgjdncpflppnepgcf
