[Desktop Entry]
Type=Application
Name=APKMirror Installer (beta)
Exec=waydroid app launch com.apkmirror.helper.prod
Icon=/home/mourad/.local/share/waydroid/data/icons/com.apkmirror.helper.prod.png
