[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
MimeType=application/x-wine-extension-pptxml;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen powerpointxmlfile %f
NoDisplay=true
StartupNotify=true
Icon=B533_POWERPNT.0
