[Desktop Entry]
Type=Application
Name=Microsoft Access
MimeType=application/x-wine-extension-mat;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen Access.Shortcut.Table.1 %f
NoDisplay=true
StartupNotify=true
Icon=4267_MSACCESS.0
