[Desktop Entry]
Type=Application
Name=Microsoft Access
MimeType=application/x-wine-extension-mam;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen Access.Shortcut.Macro.1 %f
NoDisplay=true
StartupNotify=true
Icon=D104_MSACCESS.0
