[Desktop Entry]
Type=Application
Name=Microsoft Access
MimeType=application/msaccess.exec;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen Access.ACCDEFile.14 %f
NoDisplay=true
StartupNotify=true
Icon=D104_MSACCESS.0
