[Desktop Entry]
Type=Application
Name=Microsoft SharePoint Workspace
MimeType=application/x-wine-extension-gsa;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen GrooveSpaceArchive %f
NoDisplay=true
StartupNotify=true
Icon=AE1F_GROOVE.0
