[Desktop Entry]
Type=Application
Name=Microsoft Excel
MimeType=application/vnd.ms-excel.template.macroEnabled.12;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen Excel.TemplateMacroEnabled %f
NoDisplay=true
StartupNotify=true
Icon=A888_EXCEL.0
