[Desktop Entry]
Type=Application
Name=Microsoft Outlook
MimeType=text/vcard;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen Outlook.File.vcf.14 %f
NoDisplay=true
StartupNotify=true
Icon=8E67_OUTLOOK.0
