[Desktop Entry]
Type=Application
Name=Zotero
MimeType=application/mods+xml;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen ZoteroMODS %f
NoDisplay=true
StartupNotify=true
Icon=6E64_zotero.0
