[Desktop Entry]
Type=Application
Name=Microsoft Word
MimeType=application/msword;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen Word.Backup.8 %f
NoDisplay=true
StartupNotify=true
Icon=835C_WINWORD.0
