[Desktop Entry]
Type=Application
Name=Microsoft Word
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.template;
Exec=env WINEPREFIX="/home/mourad/.office2010" wine start /ProgIDOpen Word.Template.12 %f
NoDisplay=true
StartupNotify=true
Icon=835C_WINWORD.0
